# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# mypy, pytest
.mypy_cache/
.coverage*

# data
data/

# pipenv
Pipfile.lock

# Docker and Jupyter
Dockerfile
.Trash-1000/
.ipynb_checkpoints/
*.ipynb

# Graphing
temp-plot.html
